body{
	background-color: blue;
}
#publicityh{
	height: 300px;
	width: 300px;
	float: right;
	margin-right: 5px;
	margin-top: 30px;
	padding: 0;
}
#publicityv{
	display: none;
}
a{
	text-decoration: none;
	color: black;
}
#newscont{
	padding-left: 0px;
	margin-left: 0px;
	width: 100%;
	padding-right: 322px;
}
#newsrow{
	margin-left: 5px;
	width: 100%;
}
.new{
	height: 250px;
	width: 100%;
	background-color: red;
	margin-top: 30px;
	padding: 0px;
}
.divimg{
	height: 100%;
	width: 30%;
	float: left;
	background-color: black;
}
.divimg img{
	padding-top: 30px;
}
.divcuerpo{
	height: 100%;
	width: 100%;
	background-color: white;
	border: 4px solid #0c0c0c;
}
.divcuerpo:hover{
	border: 4px solid red;
}

.divcuerpo h3,h4{
	display: inline-block;
}
#mas{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	margin-top: 5px;
	border: 4px solid #0c0c0c;
}
#mas:hover{
	border: 4px solid red;
}
